apiVersion: apps/v1
kind: Deployment # 資源類型為 $Deployment$
metadata:
  name: postgres # deploy的名稱
spec:
  selector: 
    matchLabels:
      app: postgres # 這個deployment會管理哪些pod(具有這標籤會被管理)
  template:
    metadata:
      labels:
        app: postgres # pod的標籤, 被service, selector管理
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "db_admin"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              value: "chat_db"
      #     volumeMounts:
      #       - name: postgres-storage
      #         mountPath: /var/lib/postgresql/data # 將下方的儲存空間掛載到容器內的指定路徑
      # volumes:
      #   - name: postgres-storage
      #     persistentVolumeClaim:
      #       claimName: postgres-pvc  # 持久儲存宣告，跟以下的有關 暫時放棄持久存儲，以後加aws RDB，AWS難出禮
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
# ---
# # 設定持久化儲存 (PVC)，這樣重啟資料庫資料才不會不見
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: postgres-pvc
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 1Gi
